@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/responsive.css" rel="stylesheet" />
<link href="~/css/severalstyles.css" rel="stylesheet" />
<link href="~/css/overflow.css" rel="stylesheet" />

<div id="welcome-section" class="container-fluid text-black m-0 p-2">
    <div class="row">
        <div class="col" id="right-section-welcome">
            <h2>Bienvenido a SIMEPCI</h2>
            <p>
                Nuestro objetivo es brindar a nuestros <br /> pacientes, una atención media de alta<br /> calidad con un enfoque centrado que <br />se adapte a las necesidades<br /> individuales de cada paciente.</br>
                ¿Listo para comenzar? <br /> Solicita tu cita ahora mismo.
            </p>

            <a asp-controller="Registro" asp-action="Registro" class="text-decoration-none text-black">
                <button type="button" class="btn border " id="btn-register">Registrarse</button>
            </a> 


           
        </div>


        <div class="col-4" id="left-section-welcome">
            <a asp-controller="Login" asp-action="Login" class="text-decoration-none text-black">
                <button type="button" class="btn border" id="btn-access-app">Acceso</button>
            </a>


            
            <p>Si necesita atencion medica <br /> urgente, por favor, diríjase <br /> de inmediato al centro <br /> medico mas cercano.</p>
            <!-- <a asp-controller="Login" asp-action="Login" class="text-decoration-none text-black">
                <button type="button" class="btn border" id="btn-location">Ubicaciones</button>
            </a>-->
           
        </div>
    </div>
</div>

<div id="services-section" class="container-fluid text-center text-white ">
    <h2>Nuestros Servicios 24/7 </h2>
    <p>
        Ofrecemos una ampia gama de diversos serviocios,que se adaptan a las necesidades unicas de cada paciente<br />
        Gracias a nuestros servicios de calidad podemos ayudarlo a promover su bienestar y mejorar su calidad de vida.<br />
        Algunos de nuestros servicios:
    </p>
    <div class="row">
        <div class="col boxes-services">
            <h5 style="color: black;">Reservación de Citas</h5>
        </div>

        <div class="col boxes-services">
            <h5 style="color: black;">Expediente Digital</h5>
        </div>

        <div class="col boxes-services">
            <h5 style="color: black;">Encuesta de Calidad</h5>
        </div>
    </div>

    <div class="row">
        <div class="col boxes-services">
            <h5 style="color: black;">Servicios Especializados</h5>
        </div>

        <div class="col boxes-services">
            <h5 style="color: black;">Servicios Generales</h5>
        </div>

        <div class="col boxes-services">
            <h5 style="color: black;">Exámenes Médicos</h5>
        </div>
    </div>

    <div class="row">
        <div class="col boxes-services">
            <h5 style="color: black;">Gestión de Recetas</h5>
        </div>

        <div class="col boxes-services">
            <h5 style="color: black;">Servicio de Diagnósticos</h5>
        </div>

        <div class="col boxes-services">
            <h5 style="color: black;">Servicios de Emergencia</h5>
        </div>
    </div>

</div>
<div id="features-section" class="container-fluid">
    <h2 class="text-center">Novedades Destacadas</h2>
    <div class="row">
        <div class="col boxes-features">
            <h5>Sedes</h5>
            <p>Al contar con diversas sedes alrededor de todo el país, podemos ampliar la cobertura de nuestros servicios médicos y llegar a todas las personas que requieren nuestros servicios.</p>
        </div>

        <div class="col boxes-features">
            <h5>Seguimiento de Pacientes</h5>
            <p>Todos los fucionarios que lo requieran <br /> pueden acceder a todos el historia<br />  medica en un instante!</p>
        </div>
        <div class="col boxes-features">
            <h5>Seguimiento de Calidad</h5>
            <p>Cualquier persona que utilice nuestros servicios <br /> puede brindar una retroalimentación <br />para poder seguir mejorando.</p>
        </div>
    </div>
</div>
<div id="characteristics-section" class=" text-center text-white">
    <h2>Caracteristicas</h2>
    <div class="row">
        <div class="col boxes-characteristics">
            <p>Contamos con una aplicación con los más altos estándares donde el usuario se pueda sentir cámodo y seguro, ya que toda la información que se recopila,está en un ambiente seguro donde únicamente los funcionarios requeridos tienen acceso a la información sensible.</p>

        </div>
        <div class="col boxes-characteristics">
            <p>Al tener una interfaz fácil de utilizar para todos los usuarios, tanto pacientes como funcionarios, podemos enfocarnos en brindar un servicio de calidad y dejar de lado la burocracia.</p>
        </div>
        <div class="col boxes-characteristics">
            <p>El hecho de disponer de una aplicación confiable nos garantiza el poder brindarle un servicio que este a la altura de sus expectativas.</p>
        </div>


    </div>
</div>