#NombreEspecialidad,
#CostoEspecialidad,
#IvaEspecialidad,
#agregarEspecialidadBtn,
label[for="NombreEspecialidadLabel"],
label[for="CostoEspecialidadLabel"],
label[for="IvaEspecialidadLabel"] {
    display: none;
}


/*.hidden {
    display: none;
}

.visible {
    display: block;
}*/