body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2, h3 {
    margin-top: 0;
}

.search-bar {
    margin-bottom: 20px;
}

.search-input {
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.patient-info-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.patient-info label {
    display: block;
    margin-bottom: 5px;
}

.patient-info input[type="text"],
.patient-info textarea {
    width: 300px; /* Ancho ajustado según tu preferencia */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Evita que el padding afecte el ancho total */
}

.patient-info button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .patient-info button:hover {
        background-color: #0056b3;
    }






body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}





