

#sidebar-menu {
    background-color: #038554;
    text-align: left;
    padding-left: 5px;
    color: white
}

    #sidebar-menu.active {
        width: 25%;
        text-align: center;
    }


        #sidebar-menu.active h5 {
            display: none;
        }




        #sidebar-menu.active .nav-link .text {
            display: none;
        }

.bi {
    font-size: 1.4em;
    color: white;
}


#header-menu {
    background-color: #005227;
    height: 10%
}

.text {
    color: white
}

.boxes-quick-access {
    border-color: black;
    border-radius: 5px;
    border-style: double;
    margin: 5%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #68ddbd;
    height: 90px;
    width: 50px;
}

#menu-quick-access a {
    color: white;
    width: 35%;
    height: 45%;
    text-decoration: none
}

/*
    PARA EL MENU DESPLEGABLE DE CERRAR SESION Y VER MI PERFIL
*/
#other-options-list {
    width: 160px;
    padding: 5px
}

    #other-options-list a {
        text-decoration: none;
        color: black
    }

