@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/registrofuncionariosasedes/griddefinition.js"></script>
    <script src="~/js/registrofuncionariosasedes/registrofuncionarios.js"></script>
}

<!DOCTYPE html>
<html>
<head>

    <title>Detalles Sedes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   @*  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" /> *@


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <!--UNICO CSS PARA PAGINAS CREADAS POR CHRISTIAN -->

    <link href="~/css/severalstyles.css" rel="stylesheet" />
    <link href="~/css/overflow.css" rel="stylesheet" />
    <link href="~/css/detallessedes.css" rel="stylesheet" />
</head>
<body>

    <header id="header-menu" class="text-white">

        <div class="row align-items-center">
            <div class="col text-left">
                <img src="https://i.imgur.com/JisFGwG.png" id="img-logo-nav-bar" />
            </div>
            <div class="col text-end p-5" id="other-options">
                <i class="bi bi-person"></i>
                <span id="user-email-display"></span>

            </div>
        </div>

    </header>
    <div class="position-relative ">
        <div class="container">
            <ul id="other-options-list" class="list-unstyled position-absolute end-0 " style="display:none;">
                <li><a asp-controller="Administrador" asp-action="DatosPersonales">Mi perfil</a></li>
                <li><a <a asp-controller="Login" asp-action="Logout">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- Barra lateral -->
            <div class="col-md-3">
                @Html.Partial("MenuLateralAdmin")
            </div>
            <!-- Contenido de la página -->
            <div class="col-md-9">
                <div class="col text-left">
                    <h1 class="text-center mt-3">Datos de la sede</h1>
                    <div class="col text-end m-3 ">
                    </div>

                    <div class="container mt-3">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div id="myGrid" style="height: 430px; width: 1225px;" class="ag-theme-alpine justify-content-center"></div>
                            </div>
                        </div>

                        <div class="card mb-3">

                            <div class="card-body">
                                <h4 class="card-title text-center mt-3">Especialidades de la sede</h4>
                                <div id="especGrid" style="height: 430px; width: 1225px;" class="ag-theme-alpine justify-content-center"></div>
                                <!--seccion de editar especialidad-->
                                <label for="IdEspecialidadLabel">ID: </label>
                                <input type="text" id="IdEspecialidad" class="form-control" readonly: readonly />

                                <label for="NombreEspecialidadLabel">Especialidad: </label>
                                <input type="text" id="NombreEspecialidad" class="form-control" readonly: readonly />

                                <label for="CostoEspecialidadLabel">Costo: </label>
                                <input type="text" id="CostoEspecialidad" class="form-control" />

                                <label for="IvaEspecialidadLabel">IVA: </label>
                                <input type="text" id="IvaEspecialidad" class="form-control" />

                                <button id="agregarEspecialidadBtn" class="btn btn-success mt-3"><i class="fas fa-plus"></i> Editar</button>
                                <!-- seccion de eliminar especialidad-->
                                <label for="IdEspecialidadEliminarLabel">ID: </label>
                                <input type="text" id="IdEspecialidadEliminar" class="form-control" readonly: readonly />

                                <label for="NombreEspecialidadEliminarLabel">Especialidad: </label>
                                <input type="text" id="NombreEspecialidadEliminar" class="form-control" readonly: readonly />

                                <label for="CostoEspecialidadEliminarLabel">Costo: </label>
                                <input type="text" id="CostoEspecialidadEliminar" class="form-control" readonly: readonly />

                                <label for="IvaEspecialidadEliminarLabel">IVA: </label>
                                <input type="text" id="IvaEspecialidadEliminar" class="form-control" readonly: readonly />

                                <button id="eliminarEspecialidadBtn" class="btn btn-danger mt-3"><i class="fas fa-plus"></i> Eliminar</button>
                                <div class="text-center">
                                    <a asp-controller="Administrador" asp-action="AgregarFuncionariosEspecialidadesASedes" id="agregarBtn" class="btn btn-success mt-3"><i class="fas fa-plus"></i> Agregar nueva especialidad a sede</a>
                                </div>
                            </div>

                        </div>

                        <div class="card mb-3">
                            <div class="card-body">
                                <h4 class="card-title text-center mt-3">Profesionales de la sede</h4>

                                <div id="userGrid" style="height: 430px; width: 1225px;" class="ag-theme-alpine justify-content-center"></div>

                                <label for="IdUsuarioLabel">ID: </label>
                                <input type="text" id="IdUsuario" class="form-control" readonly: readonly />

                                <label for="NombreUsuarioEliminarLabel">Nombre completo: </label>
                                <input type="text" id="NombreUsuarioEliminar" class="form-control" readonly: readonly />

                                <label for="IdUsuarioEspecialidadEliminarLabel">Id Especialidad: </label>
                                <input type="text" id="IdUsuarioEspecialidadEliminar" class="form-control" readonly: readonly />

                                <label for="CorreoUsuarioEliminarLabel">Correo: </label>
                                <input type="text" id="CorreoUsuarioEliminar" class="form-control" readonly: readonly />

                                <label for="RolUsuarioEliminarLabel">Rol: </label>
                                <input type="text" id="RolUsuarioEliminar" class="form-control" readonly: readonly />

                                <button id="eliminarUsuarioBtn" class="btn btn-danger mt-3"><i class="fas fa-plus"></i> Remover usuario de sede seleccionada</button>

                                <div class="text-center">
                                    <a asp-controller="Administrador" asp-action="AgregarFuncionariosEspecialidadesASedes" id="agregarBtn" class="btn btn-success mt-3"><i class="fas fa-plus"></i> Agregar nuevo profesional a sede</a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>




    <script src="~/js/usermenu/menufunctions.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
