@{
    ViewData["Title"] = "Detalles Sedes";
}

<h1 class="text-center mt-3">Datos de la sede</h1>

<div class="d-flex justify-content-between">
    <a asp-action="ListaSedes" class="btn btn-outline-success text-success mr-auto" style="text-decoration: none;">Regresar</a>
    <div class="mx-auto">
        <button id="editarBtn" class="btn btn-outline-success">Editar</button>
    </div>
</div>

<div class="container mt-3">
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title">Detalles de la Sede</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Foto:</dt>
                <dd class="col-sm-9">
                    <img src="#" class="img-fluid" alt="Foto de la sede" />
                </dd>

                <dt class="col-sm-3">Nombre de la Sede:</dt>
                <dd class="col-sm-9">Nombre de la Sede</dd>

                <dt class="col-sm-3">Descripción:</dt>
                <dd class="col-sm-9">Descripción de la sede</dd>

                <dt class="col-sm-3">Fecha de Creación:</dt>
                <dd class="col-sm-9">Fecha de creación de la sede</dd>

                <dt class="col-sm-3">Provincia:</dt>
                <dd class="col-sm-9">Provincia de la sede</dd>

                <dt class="col-sm-3">Cantón:</dt>
                <dd class="col-sm-9">Cantón de la sede</dd>

                <dt class="col-sm-3">Distrito:</dt>
                <dd class="col-sm-9">Distrito de la sede</dd>

                <dt class="col-sm-3">Otras Señas:</dt>
                <dd class="col-sm-9">Otras señas de la sede</dd>

                <dt class="col-sm-3">Ubicación:</dt>
                <dd class="col-sm-9">Ubicación de la sede</dd>
            </dl>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button id="editarBtn" class="btn btn-outline-success">Agregar</button>
    </div>
    
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profesionales de la Sede</h4>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Rol</th>
                        <th scope="col">Acciones</th>

                    </tr>
                </thead>
                <tbody id="citasTableBody">
                    <!-- Los datos de las citas se cargarán dinámicamente aquí con JS-->
                </tbody>
            </table>
        </div>
    </div>
</div>
