@{
    ViewData["Title"] = "Reportes Financieros";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/ReportesFinancieros.css">
</head>
<body>
    <h2>@ViewBag.Title</h2>

    <div class="filter-section">
        <h3>Periodo</h3>
        <label for="anno-dropdown">Año:</label>
        <select id="anno-dropdown">
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <!-- Agrega más opciones según sea necesario -->
        </select>
    </div>

    <div class="financial-report">
        <h3>Reporte Financiero</h3>
        <table>
            <thead>
                <tr>
                    <th>Mes</th>
                    <th>Ganancias</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Enero</td>
                    <td>$1000</td>
                </tr>
                <tr>
                    <td>Febrero</td>
                    <td>$1500</td>
                </tr>
                <tr>
                    <td>Marzo</td>
                    <td>$2000</td>
                </tr>
                <tr>
                    <td>Abril</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Mayo</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Junio</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Julio</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Agosto</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Septiembre</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Octubre</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Noviembre</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Diciembre</td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td class="total">$4500</td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>
