@model DTO.UsuarioBase
@{
    ViewBag.Title = "";
    Layout = "../Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Usuario/CrearUsuario.js"></script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Registro.css" />
    <link href="~/css/overflow.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="main-w3layouts wrapper">
        <div class="main-agileinfo">
            <div class="agileits-top">
                <form id="registroForm">
                    <h1 style="color:black ">Crea tu cuenta</h1>
                    <h2 style="color:black"> Datos personales</h2>
                                <div class="btn-container">
                                    <img id="fotoUsuario" class="fotoUsuario">
                                    <button type="button" class="botonGuardar " id="botonFoto" required>Subir foto</button>
                                </div>
                        <div class="input-group">
                        
                            <div>
                                <label for="Nombre">Nombre</label>
                                <input type="text" class="text"  required="required" id="Nombre" name="Nombre">
                            </div>
                            <div>
                                <label for="Apellidos">Apellidos</label>
                                <input type="text" class="text"  required="required" id="Apellidos" name="Apellidos">
                            </div>
                            </div>
                        <div class="input-group">
                                <div>
                                    <label for="Identificacion">Identificación</label>
                                    <input type="text" class="text"  required="required" id="Identificacion" name="Identificacion">
                                </div>
                         </div>
                        <div class="input-group">
                            <div>
                                <label for="Telefono">Telefono</label>
                                <input type="text" class="text" required="required" id="Telefono" name="Telefono">
                            </div>
                            <div>
                                <label for="Correo">Correo</label>
                                <input type="email" class="text" required="required" id="Correo" name="Correo">
                            </div>
                        </div>
                        <div class="input-group">
                            <div>
                                <label for="Sexo">Sexo</label>
                                <select class="text" select-direccion required="required" id="Sexo" name="Sexo">
                                    <option value="" disabled selected>Seleccione Sexo</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Masculino">Masculino</option>
                                </select>
                            </div>
                            <div>
                                <label for="FechaNacimiento">Fecha de Nacimiento</label>
                                <input type="datetime-local" class="text" id="FechaNacimiento" name="FechaNacimiento">
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="hidden" id="lat" name="latitud">
                            <input type="hidden" id="lng" name="longitud">
                            <div id="map" style="height: 300px;"></div>
                            <div class="coordinates-container">
                                <label for="coordinates">Ubicación con las coordenadas del mapa</label>
                                <input type="text" id="coordinates" class="text" placeholder="Ubicación con las coordenadas del mapa" readonly>
                                <label for= "Direccion">Dirección</label>
                                <select class="text" required="required" id="Direccion" name="Direccion">
                                    <option value="" disabled selected>Seleccione dirección</option>
                                    <option value="San José">San José</option>
                                    <option value="Alajuela">Alajuela</option>
                                    <option value="Cartago">Cartago</option>
                                    <option value="Heredia">Heredia</option>
                                    <option value="Guanacaste">Guanacaste</option>
                                    <option value="Puntarenas">Puntarenas</option>
                                    <option value="Limon">Limon</option>
                                </select>
                                <input type="datetime-local" id="timestamp" style="display:none" />

                            </div>
                        
                        </div>
                        <div class="input-group">
                            <hr class="divider-line">
                            <div class="security-info">
                            <h2 style="color:black">Seguridad de la cuenta</h2>
                            <p style="color:black">La contraseña debe ser mayor a 8 caracteres, pero menor a 12 caracteres.</p>
                            </div>
                            <div class="password-inputs">
                                <label for="Contrasenna">Contraseña</label>
                                <input type="password" class="text" placeholder="Contraseña" required="required" id="Contrasenna" name="Contrasenna">
                                <label for="ConfirmarContrasenna">Confirmar Contraseña</label>
                                <input type="password" class="text" placeholder="Confirmar Contraseña" required="required" id="ConfirmarContrasenna" name="ConfirmarContrasenna">
                            </div>
                        </div>
                        <div class="btn-container">
                            <hr class="divider-line">
                            <button type="button" class="botonGuardar" id="btnCreate">Registrarse</button>
                        </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function previewImage(event) {
            var input = event.target;
            var preview = document.getElementById('preview');

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        var map = L.map('map').setView([9.933, -84.08], 8);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var marker = L.marker([9.933, -84.08]).addTo(map);

        map.on('click', function (e) {
            var lat = e.latlng.lat.toFixed(6);
            var lng = e.latlng.lng.toFixed(6);
            var coordinates = lat + ', ' + lng;
            document.getElementById('coordinates').value = coordinates;
        });
    </script>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
    <script>
        function fillTimestamp() {
            var now = new Date();
            var year = now.getFullYear();
            var month = ('0' + (now.getMonth() + 1)).slice(-2); 
            var day = ('0' + now.getDate()).slice(-2); 
            var hours = ('0' + now.getHours()).slice(-2); 
            var minutes = ('0' + now.getMinutes()).slice(-2); 
            var seconds = ('0' + now.getSeconds()).slice(-2);
            var datetime = year + '-' + month + '-' + day + 'T' + hours + ':' + minutes + ':' + seconds;
            document.getElementById('timestamp').value = datetime;
        }

        
        document.getElementById('btnCreate').addEventListener('click', function () {
            fillTimestamp();
        });
    </script>

</body>
</html>