
<footer>
    <div class="footer-container">
        <div class="left-section">
            <img style="width: 300px;" class="logoSimepci" src="https://i.imgur.com/WnlMFL0.png" alt="simepci">
        </div>
        <div class="right-section">
            <img style="width: 80px;" class="logoEquipo" src="https://i.imgur.com/er826Ey.png" alt="logoEquipo">
            <div class="powered">
                <p class="mb-5">Powered by <b>Software Unified Sunrise</b></p>
            </div>
        </div>
    </div>
    
    <div class="copyright">
        <p>&copy; 2024. All rights reserved.</p>
    </div>
</footer>