<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEB_UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB_UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img style="width: 280px;" class="logo" src="https://uc18ff9ef7c60f642861efd284dd.previews.dropboxusercontent.com/p/thumb/ACMmBeM5EsT1iklkEcEDzWSxTdksFbF_wOhEG7bA7FAVpok7tPTtS-K6qAETDSKCC3Fp548ZgPJuqSrPPXGk1neOWjIs1zcTxnyfjKvaoW2LZMl8l_XTNp7A5w6zsvKNfcGpod390d1z4j2tVlHrvSO9Dj5WbK3b7n5Z4BA1XQk8qOWydoZUz-c5NEb12tdFZqiXQ5niCDEvn-yDls7HZhz3qFBJFNgloxQ9bELlJNtinqdZkYFtALOSi8fFadKFSw29KP95hYqlAa-wvFVhzTENZu6GufyZ0xCQdRu_O_4ChsTxukal2ojiHXbZx3ZgjlhPEvFPInVIZkOyvLEC8xI3E2opo9DXGILoGKP4T6yuzgzeIDJTEjSC2XBXkXx3Lfc/p.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div class="elementos-nav">
                                <a href="#"><i class="fas fa-home"></i> Inicio</a>
                                <a href="#"><i class="fas fa-users"></i> Nosotros</a>
                                <a href="#"><i class="fas fa-clinic-medical"></i> Servicios</a>
                                <a href="#"><i class="fas fa-phone"></i> Contactenos</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-container">
            <div class="left-section">
                <img src="" alt="logo" class="footer-image">
            </div>
            <div class="right-section">
                <img src="" alt="logoSimepci" class="footer-image">
                <p>Powered by <b>Software Unified Sunrise</b></p>
            </div>
        </div>
        <div class="menu-section">
            <ul class="footer-menu">
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contáctenos</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>&copy; 2024 Software Unified Sunrise. All rights reserved.</p>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
