
@{
    ViewBag.Title = "Verificar Cuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
@*     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/VerificaCuenta/VerificaCuenta.js"></script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/recuperarContrasenna.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="main-w3layouts wrapper">
        <h1 style="color: black">Verificar cuenta</h1>
        <div class="main-agileinfo">
            <div  class="agileits-top">
                @* <input type="datetime-local"  id="newTimestamp" style="display:"/> *@

                <div  class="input-group">
                    <label style="color: black" for="Correo">Correo</label>
                    <input type="email" id="Correo" readonly>
                </div>

                <div class="input-group">
                    <label style="color: black"  for="Otp">Ingresa el codigo de verificación enviado a su correo</label>
                    <input type="text" id="Otp">
                </div>

                <div class="input-group">
                    <button style="color: black" type="button" id="btnVerificar">Verificar</button>
                </div>
                <div class="input-group">
                    <button style="color: black" type="button" id="btnSendNewOtp">Reenviar código</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        function fillTimestamp() {
            var now = new Date();
            var year = now.getFullYear();
            var month = ('0' + (now.getMonth() + 1)).slice(-2);
            var day = ('0' + now.getDate()).slice(-2);
            var hours = ('0' + now.getHours()).slice(-2);
            var minutes = ('0' + now.getMinutes()).slice(-2);
            var datetime = year + '-' + month + '-' + day + 'T' + hours + ':' + minutes;
            // document.getElementById('newTimestamp').value = datetime;
            // sessionStorage.setItem('newTimestamp', datetime);
        }


        document.getElementById('btnSendNewOtp').addEventListener('click', function () {
                fillTimestamp();
        });
    </script>
</body>
</html>
