@{
    ViewData["Title"] = "Landing Page Empresa";
    
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<link href="https://getbootstrap.com/docs/5.0/examples/product/product.css" rel="stylesheet">


<div>

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Misión</h2>
            <p class="lead">Desarrollar soluciones, creativas y efectivas que se adapten a las necesidades de cada uno de 
                nuestros clientes, así como dar mantenimiento y seguimiento para adaptar los proyectos actuales a las necesidades
                que surjan. </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="https://i.imgur.com/YZUQhWJ.png">
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Visión</h2>
            <p class="lead">Aspiramos a desarrollar cada entrega con excelencia y dedicación, manteniendo un sólido compromiso con la 
                calidad y la innovación, pilares esenciales para fomentar un ambiente de trabajo colaborativo y comprometido. Buscamos 
                ser un equipo donde el intercambio de ideas y la cooperación impulsen nuestro crecimiento y aprendizaje colectivo, aplicando
                activamente nuestros conocimientos. Queremos contribuir al éxito del proyecto cumpliendo y satisfaciendo todas las expectativas. </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="https://i.imgur.com/eBddIt6.jpg">
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="bg-light-transparent">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 justify-content-between align-items-center">
            <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="  mx-auto justify-content-center align-items-center" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <img class="w-75" src="https://i.imgur.com/0cHyzo0.png">
                </div>
                <div class="my-3 py-3">
                        <h2 class="display-5 textonegro">Disciplina</h2>
                        <p class="lead textonegro">Demostrar constancia tanto de forma individual como grupal en la puntualidad en las entregas, asistencia a reuniones y compromiso con la presencialidad. </p>
                </div>
            
            </div>
       
            <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="  mx-auto justify-content-center align-items-center" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                        <img class="w-75" src="https://i.imgur.com/SJNE8ZN.png">
                </div>
                <div class="my-3 py-3">
                    <h2 class="display-5 textonegro">Compañerismo</h2>
                    <p class="lead textonegro">Escuchar atentamente las ideas de los demás compañeros, respetar las ideas en las que no este de acuerdo y ofrecer alternativas, así como ser empático y comprensivo ante las posibles situaciones que se puedan presentar.  </p>
                </div>

            </div>

        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 justify-content-center align-items-center">
            <div class=" me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="  mx-auto justify-content-center align-items-center" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <img class="w-25" src="https://i.imgur.com/Gq8Uons.png">
                </div>
                <div class="my-3 py-3">
                    <h2 class="display-5 textonegro">Responsabilidad</h2>
                    <p class="lead textonegro">Honrar los compromisos pactados y completar de manera satisfactoria las obligaciones asignadas. Comprometerse con el equipo y trabajar en cada etapa del desarrollo.  </p>
                </div>

            </div>

        </div>

    </div>
    <hr class="featurette-divider">
    
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  

    <hr class="featurette-divider">





</div><!-- /.container -->
