@{
    ViewData["Title"] = "Landing Empresa";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="~/css/overflow.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        <h3>SOBRE NOSOTROS</h3>
        <div class="row mt-5">
            <div class="col-md-6">
                <p>
                    El Hospital "Su Salud Primero" es una institución comprometida con el bienestar y la salud integral de sus pacientes.
                    Fundado en [año de fundación], nuestro hospital se ha destacado por ofrecer atención médica de calidad, servicios
                    innovadores y un enfoque centrado en el paciente.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <div class="image-container">
                    <img src="https://i.imgur.com/GK4DCQ0.jpeg" alt="Hospital">
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>MISIÓN</h2>
                <p>Nuestra misión en Hospital "Su Salud Primero" es proporcionar atención médica de calidad, centrada en el paciente y basada en evidencia científica. Nos comprometemos a ofrecer un entorno seguro, compasivo y respetuoso para nuestros pacientes y sus familias, promoviendo la salud y el bienestar en todas las etapas de la vida.</p>
            </div>
            <div class="col-md-6">
                <h2>VISIÓN</h2>
                <p>Nuestra visión es convertirnos en el referente en atención médica integral, destacando por nuestra excelencia clínica, innovación continua y compromiso con la comunidad. Nos esforzamos por ser reconocidos como líderes en el cuidado de la salud, trabajando en colaboración con nuestros pacientes y colaboradores para alcanzar los más altos estándares de calidad y seguridad.</p>
            </div>
        </div>
    </div>

    <div class="container mt-5 text-center bg-light">
        <h3>CARACTERÍSTICAS DESTACADAS</h3>
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="https://i.imgur.com/9NVOgch.jpeg" alt="Gestión de Citas" style="max-width: 100px; height: auto;">
                <h4>Gestión de Citas Médicas</h4>
                <p>Organiza eficientemente las citas médicas de los pacientes.</p>
            </div>
            <div class="col-md-4">
                <img src="https://i.imgur.com/dZhCYM6.png" alt="Registro de Historias Clínicas" style="max-width: 100px; height: auto;">
                <h4>Registro de Historias Clínicas</h4>
                <p>Almacena y accede fácilmente a los expedientes y historias clínicas de los pacientes.</p>
            </div>
            <div class="col-md-4">
                <img src="https://i.imgur.com/mCmv0SZ.png" alt="Prescripción y Seguimiento de Tratamientos" style="max-width: 100px; height: auto;">
                <h4>Prescripción y Seguimiento de Tratamientos</h4>
                <p>Crea y sigue el progreso de los tratamientos médicos de manera segura y eficaz.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="https://i.imgur.com/QeMlUCq.jpeg" alt="Integración con Sistemas de Facturación" style="max-width: 100px; height: auto;">
                <h4>Integración con Sistemas de Facturación</h4>
                <p>Facilita la gestión administrativa y financiera del hospital mediante la integración con sistemas de facturación.</p>
            </div>
        </div>
    </div>

    <div class="container mt-5 text-center">
        <h3>VENTAJAS Y BENEFICIOS</h3>
        <div class="row mt-4">
            <div class="col-md-6">
                <h4>Optimización de tiempos y recursos</h4>
                <p>El sistema SIMEPCI permite una gestión eficiente de las citas médicas, la asignación de recursos y la programación de actividades, lo que contribuye a una mejor organización del personal y ahorro de tiempo para pacientes y médicos.</p>
            </div>
            <div class="col-md-6">
                <h4>Mejora en la calidad de atención médica</h4>
                <p>Con SIMEPCI, el Hospital "Su Salud Primero" puede ofrecer una atención médica más precisa y personalizada, garantizando un seguimiento integral de los pacientes y una coordinación efectiva entre los diferentes profesionales de la salud.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h4>Mayor seguridad y confidencialidad de la información</h4>
                <p>El sistema SIMEPCI cuenta con medidas robustas de seguridad y protección de datos, asegurando la confidencialidad de la información médica de los pacientes y reduciendo el riesgo de pérdida o acceso no autorizado.</p>
            </div>
            <div class="col-md-6">
                <h4>Facilitación de la comunicación entre pacientes y médicos</h4>
                <p>Gracias a SIMEPCI, la comunicación entre pacientes y médicos se simplifica y se fortalece, permitiendo consultas virtuales, seguimiento de tratamientos a distancia y acceso rápido a resultados de pruebas diagnósticas.</p>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-md-12">
                <h4>Testimonios de pacientes satisfechos y estadísticas</h4>
                <p>Escuchamos las opiniones de nuestros pacientes satisfechos, quienes han experimentado una mejora significativa en su experiencia de atención médica con SIMEPCI. Además, contamos con estadísticas que respaldan las mejoras obtenidas en eficiencia, satisfacción del paciente y resultados clínicos.</p>
            </div>
        </div>
    </div>



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
