@{
    Layout = null;
    ViewData["Title"] = "Detalles Citas";
}





<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link href="~/css/severalstyles.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   
    <link href="~/css/overflow.css" rel="stylesheet" />
   
</head>

<body>

    <header id="header-menu" class="text-white">

        <div class="row align-items-center">
            <div class="col text-left">
                <img src="https://i.imgur.com/JisFGwG.png" id="img-logo-nav-bar" />
            </div>
            <div class="col text-end p-5" id="other-options">
                <i class="bi bi-person"></i>
                <span id="user-email-display"></span>

            </div>
        </div>

    </header>
    <div class="position-relative ">
        <div class="container">
            <ul id="other-options-list" class="list-unstyled position-absolute end-0 " style="display:none;">
                <li><a asp-controller="Secretario" asp-action="DatosPersonales">Mi perfil</a></li>
                <li><a asp-controller="Login" asp-action="Logout">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
    <!--
    <div class="barra-busqueda">
        <div class="input-group">
          <div class="form-outline" data-mdb-input-init>
            <input id="search-focus" type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
          </div>
          <button type="button" class="btn btn-primary" data-mdb-ripple-init>
            <i class="fas fa-search"></i>
          </button>
        </div>
    </div>-->
    <div class="container-fluid">
        <div class="row">
            <!-- Barra lateral -->
            <div class="col-md-3">
                @Html.Partial("MenuLateralSecretario")
            </div>
            <!-- Contenido de la página -->
            <div class="col-md-9">
                <div class="col text-left">
                    <h1>Detalles</h1>

                    <div class="mt-3 text-left">
                        <a href="ListaCitas.html" class="btn btn-outline-success me-3">Volver a la lista</a>
                        <button id="editarBtn" class="btn btn-outline-success">Editar</button>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Detalles de la Cita</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-3">Fecha:</dt>
                                <dd class="col-sm-9">Fecha de la cita</dd>

                                <dt class="col-sm-3">Hora de inicio:</dt>
                                <dd class="col-sm-9">Hora de inicio de la cita</dd>

                                <dt class="col-sm-3">Hora de fin:</dt>
                                <dd class="col-sm-9">Hora de fin de la cita</dd>

                                <dt class="col-sm-3">Paciente:</dt>
                                <dd class="col-sm-9">Nombre del paciente</dd>

                                <dt class="col-sm-3">Médico:</dt>
                                <dd class="col-sm-9">Nombre del médico</dd>

                                <dt class="col-sm-3">Especialidad:</dt>
                                <dd class="col-sm-9">Especialidad de la cita</dd>

                                <dt class="col-sm-3">Pago de la Cita:</dt>
                                <dd class="col-sm-9">Pago de la cita</dd>

                                <dt class="col-sm-3">Precio:</dt>
                                <dd class="col-sm-9">Precio de la cita</dd>

                                <dt class="col-sm-3">Estado:</dt>
                                <dd class="col-sm-9">Estado de la cita</dd>
                            </dl>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>




    @Html.Partial("_Footer")







    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/usermenu/menufunctions.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

