@{
    Layout = null;
    ViewData["Title"] = "Home Secretario";
}
}




<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/css/usersmenustyle.css" rel="stylesheet" />

</head>

<body>

    <header id="header-menu" class="text-white">
        <div class="row align-items-center ">
            <div class="col">
                <img src="\images\imglogoapp.png" id="img-logo-nav-bar" />
            </div>
            <div class="col text-center ">
                <p>Sede a la que pertenece</p>
            </div>

            <div class="col text-end m-1">
                <p><i class="bi bi-person "></i></i>Correo@gmail.com</p>
            </div>
        </div>
    </header>




    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-2 overflow-auto ">
                <nav id="sidebar-menu">
                    <ul class="navbar-nav">
                        <h5>Servicios</h5>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-house icons"></i>
                                <span class="text">Inicio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-pin-map"></i>
                                <span class="text">Sedes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-people"></i>
                                <span class="text"> Pacientes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-search-heart"></i>
                                <span class="text">Buscador de Expedientes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-calendar2-heart"></i>
                                <span class="text">Citas de Pacientes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-receipt"></i>
                                <span class="text">Facturacion</span>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-paypal"></i>
                                <span class="text">Cancelar Factura</span>

                            </a>
                        </li>



                        <h5>Mi Salud</h5>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-clipboard2-pulse"></i>
                                <span class="text">Expediente</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-card-list"></i>
                                <span class="text">Examenes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-calendar-heart"></i>
                                <span class="text">Citas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-prescription2"></i>
                                <span class="text">Recetas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-activity"></i>
                                <span class="text">Diagnosticos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-cash-coin"></i>
                                <span class="text">Pagos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-emoji-neutral"></i>
                                <span class="text">Encuesta de Servicios</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="bi bi-person"></i>
                                <span class="text">Datos Personales</span>
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>


            <div class="col text-left" id="menu-quick-access">
                <h3 class="text-center mb-5">Bienvenido, Usuario!</h3>
                <p class="pl-4">Accesos Rapidos</p>
                <div class="row">
                    <div class="col boxes-quick-access">
                        <a href="#"><p> Buscador de Expedientes</p></a>
                    </div>
                    <div class="col boxes-quick-access">
                        <a href="#"><p> Agenda</p></a>
                    </div>
                    <div class="col boxes-quick-access">
                        <a href="#"><p> Citas de Pacientes</p></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col boxes-quick-access">
                        <a href="#"><p> Datos Personales</p></a>
                    </div>
                    <div class="col boxes-quick-access">
                        <a href="#"><p> Sedes</p></a>
                    </div>
                    <div class="col boxes-quick-access">
                        <a href="#"> <p> Mi Expediente</p></a>
                    </div>
                </div>


            </div>
        </div>
    </div>

    @Html.Partial("_Footer")







    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/usermenu/menufunctions.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

