@model DTO.UsuarioBase

@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/recuperarContrasenna.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="main-w3layouts wrapper">
        <h1>Recuperar Contraseña</h1>
        <div class="main-agileinfo">
            <div class="agileits-top">
             
                <div class="input-group">
                    <label for="Correo">Ingresa tu correo electrónico para enviarte un código temporal </label>
                    @Html.TextBoxFor(model => model.Correo, new { @class = "text", placeholder = "Correo Electrónico" })
                </div>
          
                <p class="verification-message" id="verificationMessage"></p>
       
                <div class="input-group">
                    <input type="text" id="codigoVerificacion" placeholder="Digita el código temporal enviado" style="display: none;">
                </div>
   
                <div class="input-group">
                    <button type="button" onclick="mostrarTextbox()">Siguiente</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function mostrarTextbox() {
            var textbox = document.getElementById("codigoVerificacion");
            var correo = document.getElementById("Correo").value;
            var verificationMessage = document.getElementById("verificationMessage");

            if (correo === "") {
                verificationMessage.innerText = "Por favor, ingresa un correo válido.";
                textbox.style.display = "none";
            }
            else {
                verificationMessage.innerText = ""; // Limpia el mensaje de verificación
                textbox.style.display = "block";
            }
        }
    </script>
</body>
</html>
