@{
  
    ViewData["Title"] = "Servicios";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Servicios</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/overflow.css" rel="stylesheet" />
    <style>
        .custom-service {
            background-color: #68ddbd;
            color: #fff;
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div id="services-section" class="container-fluid text-center text-black mt-4 mb-4">
        <h2>Nuestros Servicios 24/7</h2>
        <p>
            Ofrecemos una amplia gama de diversos servicios, que se adaptan a las necesidades únicas de cada paciente.<br />
            Gracias a nuestros servicios de calidad podemos ayudarlo a promover su bienestar y mejorar su calidad de vida.<br />
            Algunos de nuestros servicios:
        </p>
        <div class="row">
            <div class="col-md-4">
                <div class="custom-service">
                    <h5>Reservación de Citas</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-service">
                    <h5>Expediente Digital</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-service">
                    <h5>Encuesta de Calidad</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="custom-service">
                    <h5>Servicios Especializados</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-service">
                    <h5>Servicios Generales</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-service">
                    <h5>Exámenes Médicos</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="custom-service">
                    <h5>Gestión de Recetas</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-service">
                    <h5>Servicio de Diagnósticos</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-service">
                    <h5>Servicios de Emergencia</h5>
                </div>
            </div>
        </div>
    </div>



    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


