@{
    Layout = null;
    ViewData["Title"] = "Expediente Personal";
}





<!DOCTYPE html>
<html lang="en">
<head>

    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/css/usersmenustyle.css" rel="stylesheet" />
    <link href="~/css/severalstyles.css" rel="stylesheet" />
    <link href="~/css/overflow.css" rel="stylesheet" />
</head>
<body>

    <header id="header-menu" class="text-white">

        <div class="row align-items-center">
            <div class="col text-left">
                <img src="https://i.imgur.com/JisFGwG.png" id="img-logo-nav-bar" />
            </div>
         
            <div class="col text-end p-5" id="other-options">
                <i class="bi bi-person"></i>
                <span id="user-email-display"></span>

            </div>
        </div>

    </header>
    <div class="position-relative ">
        <div class="container">
            <ul id="other-options-list" class="list-unstyled position-absolute end-0 " style="display:none;">
                <li><a asp-controller="Doctor" asp-action="DatosPersonales">Mi perfil</a></li>
                <li><a asp-controller="Login" asp-action="Logout">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <!-- Barra lateral -->
            <div class="col-md-3">
                @Html.Partial("MenuLateralDoctor")
            </div>
            <!-- Contenido de la página -->
            <div class="col-md-9">
                <div class="col text-left mt-3">
                    <h2>Expediente</h2>
                    <div class="row mt-3">
                        <div class="col-2">
                            <img src="https://i.imgur.com/6hfDzu7.png" id="profile-img" />
                        </div>
                        <div class="col">
                            <h2 id="txt-nombre"> </h2>
                            <p id="txt-correo">paciente@gmail.com</p>
                            <p>ID del expediente:</p><p id="txt-id-expediente"></p>
                        </div>

                    </div>

                    <h3 class="mt-5">Datos Generales</h3>
                    <div class="container mt-3 ">
                        <div class="row border">
                            <div class="col-2">
                                <h5>Identificacion: </h5>
                            </div>
                            <div class="col-3">
                                <p id="txt-identificaion">Content</p>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-2">
                                <h5>Sexo: </h5>
                            </div>
                            <div class="col-3">
                                <p id="txt-sexo">Content</p>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-2">
                                <h5>Telefono: </h5>
                            </div>
                            <div class="col-3">
                                <p id="txt-telefono"> Content</p>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-2">
                                <h5>Edad: </h5>
                            </div>
                            <div class="col-3">
                                <p id="txt-edad">Content</p>
                            </div>
                        </div>
                        <div class="row border">
                            <div class="col-2">
                                <h5>Direccion: </h5>
                            </div>
                            <div class="col-3">
                                <p id="txt-direccion">Content</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row mt-2">
                            <div class="col-3">
                                <h3>Historial Clinico</h3>
                            </div>

                        </div>
                    </div>

                    <div class="container mt-3">
                        <div class="form-control">
                            <table class="table table-hover" id="table-historial-clinico">
                                <thead>
                                    <tr>
                                        <th class="col-2">Historial</th>

                                        <th class="col">Cuales</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Antecedentes Personales</td>

                                        <td><textarea name="antecedentePersonales" id="txt-antencedentes-p" class="form-control"></textarea></td>

                                    </tr>
                                    <tr>
                                        <td>Tratamientos Farmacologicos</td>

                                        <td><textarea name="tratamientos" id="txt-tratamientos" class="form-control"></textarea></td>

                                    </tr>
                                    <tr>
                                        <td>Antecedentes Familiares</td>

                                        <td><textarea name="antecedentes" id="txt-antecedentes-f" class="form-control"></textarea></td>

                                    </tr>
                                    <tr>
                                        <td>Enfermedades Cronicas</td>

                                        <td><textarea name="cronicas" id="enfermedades-cronicas" class="form-control"></textarea></td>

                                    </tr>
                                    <tr>
                                        <td>Habitos no saludables</td>

                                        <td><textarea name="habitos" id="habitos" class="form-control"></textarea></td>

                                    </tr>
                                    <tr>
                                        <td>Factores de riesgo cardiovasculares</td>

                                        <td><textarea name="cardiovascular" id="riesgos" class="form-control"></textarea></td>

                                    </tr>
                                    <tr>
                                        <td>Diabetes</td>

                                        <td><textarea name="diabetes" id="diabetes" class="form-control"></textarea></td>

                                    </tr>
                                    <tr>
                                        <td>Enfermedades Congenitas</td>

                                        <td><textarea name="congenitas" id="enfermedades-congenitas" class="form-control"></textarea></td>

                                    </tr>
                                    <tr>
                                        <td>Cancer</td>

                                        <td><textarea name="cancer" id="txt-antecedentes-c" class="form-control"></textarea></td>

                                    </tr>
                                </tbody>
                            </table>
                            <div class="align-content-center">
                                <button class="btn btn-outline-success" id="btn-editar">Editar </button>
                            </div>


                        </div>
                    </div>
                    <h3 class="mt-3">Mas Información</h3>
                    <div class="container" id="btns-expediente">
                        <div class="row">
                            <div class="col-4 m-1">
                                <a asp-controller="Doctor" asp-action="CitasPersonales">
                                    <button class="btn border">Citas</button>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 m-1">
                                <a asp-controller="Doctor" asp-action="ExamenPersonal">
                                    <button class="btn border">Examenes</button>
                                </a>
                            </div>
                        </div>
@*                         <div class="row">
                            <div class="col-4 m-1">
                                <a asp-controller="Doctor" asp-action="MisRecetas">
                                    <button class="btn border">Recetas</button>
                                </a>
                            </div>
                        </div> *@
                    </div>

                </div>

            </div>
        </div>
    </div>






    
    @Html.Partial("_Footer")

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/expediente/cargarexpedientepersonal.js"></script>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <script src="~/js/usermenu/menufunctions.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>



