@*
   
*@
@{

 
}
<div class="container-fluid p-0 ">
    <div class="row">
        <div class="overflow-auto w-75 ">
            <nav id="sidebar-menu" >
                <ul class="navbar-nav">
                    <h5>Mi salud</h5>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="LandingPaciente">
                            <i class="bi bi-house icons"></i>
                            <span class="text">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="Sedes">

                            <i class="bi bi-pin-map"></i>
                            <span class="text"> Sedes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="ExpedientePersonal">
                            <i class="bi bi-clipboard-heart"></i>
                            <span class="text">Expediente</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="CrearCitasPersonales">
                            <i class="bi bi-calendar-date"></i>
                            <span class="text">Citas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="ExamenPersonal">
                            <i class="bi bi-card-list"></i>
                            <span class="text">Examenes</span>

                        </a>
                    </li>
@*                     <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="MisRecetas">
                            <i class="bi bi-prescription2"></i>
                            <span class="text">Recetas</span>

                        </a>
                    </li> *@

@*                     <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="MisFacturas">
                            <i class="bi bi-cash-coin"></i>
                            <span class="text">Pagos</span>
                        </a>
                    </li> *@
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="EncuestaServicio">
                            <i class="bi bi-emoji-neutral"></i>
                            <span class="text">Encuesta de servicios</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="DatosPersonales">
                            <i class="bi bi-person"></i>
                            <span class="text">Datos Personales</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="" asp-action="">
                            <i class=""></i>
                            <span class="text"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div> 
</div>