@*
   
*@
@{

 
}
<div class="container-fluid p-0 ">
    <div class="row">
        <div class="col-2 overflow-auto align-self-start">
            <nav id="sidebar-menu" >
                <ul class="navbar-nav">
                    <h5>Servicios</h5>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="LandingPaciente">
                            <i class="bi bi-house icons"></i>
                            <span class="text">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="Medicos">

                            <i class="bi bi-people"></i>
                            <span class="text">Medicos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="DetallesSedes">

                            <i class="bi bi-pin-map"></i>
                            <span class="text"> Sedes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="ExpedientePersonal">
                            <i class="bi bi-clipboard-heart"></i>
                            <span class="text">Expediente</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="CitasPersonales">
                            <i class="bi bi-calendar-date"></i>
                            <span class="text">Citas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="ExamenPersonal">
                            <i class="bi bi-card-list"></i>
                            <span class="text">Examenes</span>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="MisRecetas">
                            <i class="bi bi-prescription2"></i>
                            <span class="text">Recetas</span>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="Diagnosticos">
                            <i class="bi bi-clipboard2-pulse"></i>
                            <span class="text">Diagnosticos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="MisFacturas">
                            <i class="bi bi-cash-coin"></i>
                            <span class="text">Pagos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Paciente" asp-action="EncuestaServicio">
                            <i class="bi bi-emoji-neutral"></i>
                            <span class="text">Encuesta de Servicios</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
