@{
    ViewBag.Title = "Perfil";
} 
<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" type="text/css" href="~/css/landingMoroso.css">
</head>
<body>
    <div class="profile-section">
        <button type="button" class="payment-pending-button">Pendiente de pago. Diríjase a la plataforma de Paypal</button>

        <div class="password-change">
            <h4>Cambio de contraseña</h4>
            <p>Al menos debe contener de 8 a 12 caracteres.</p>
            <input type="password" placeholder="Contraseña actual"><br>
            <input type="password" placeholder="Nueva contraseña"><br>
            <a href="#" class="forgot-password-link">¿Olvidó su contraseña?</a>
        </div>
    </div>
</body>
</html>
